/* HeroSection */

.heroSection {
  background-image:
    url(https://cdn.pixabay.com/photo/2014/02/02/17/40/photos-256887_960_720.jpg);
  height: 35rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.mask {
  margin: 5rem 10rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.text-white {
  padding: 2rem 0rem;
  text-shadow: 2px 2px 4px #695f5f;
  font-size: 5rem;
}

/* PortfolioSection */

.card {
  padding-bottom: 0rem;
  border-radius: 1em;
}

.card:hover {
  transform: scale(1.2);
  z-index: 1;
  transition: 1s ease;
}

.card-title {
  margin-top: 20rem;
  margin-bottom: 2rem;
  border-radius: 3%;
  color: rgb(1, 1, 15);
  text-shadow: 2px 2px 5px rgb(243, 239, 239);
  background: rgb(223, 211, 211, 0.3);
}

.card-title:hover {
  opacity: 0;
  transition: 1s ease;
}