/* Background */


body {
  background-image:
    url("https://cdn.pixabay.com/photo/2017/11/26/17/25/nikon-2979478_960_720.jpghttps://cdn.pixabay.com/photo/2017/11/26/17/25/nikon-2979478_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* NavbarSection*/

.navbar {
  background-color: #483829;
}

.material-symbols-outlined {
  font-size: 2.1rem;
}

.navbar a {
  font-size: 1.5rem;
}

.navbar a:hover {

  color: aliceblue;
  transition: 0.3s ease;
}


footer {
  background-color: rgb(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 2rem;
}

.social-media i {
  color: #fff;
  font-size: 30px;
  /* margin: 0 5rem; */
  padding-bottom: 1rem;
}

.social-media i:hover {
  transform: scale(1.5);
  transition: 0.3s ease;
}

.contact-us a {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5%;
}

.button-footer:hover {
  background-color: black;
  color: aliceblue;
  transition: 0.3s ease;
}